body
{
	background-color: grad;
	margin: 0px;
	display: block;
	font-family: arial;
	background-image: url('anhphong1.png');
	background-repeat: repeat;
	background-position: center;
	

}
h2
{
	color: black;
}
#shopping
{
		width: 91px;
		height: 20px;
		font-family: FontAwesome;
		float: left;
		padding-left: 400px;
}

div
{
	display:block;
}
i
{
	font-size:30px;
	color: yellow;
}
*{
	box-sizing: border-box;
}
#header
{
	width: 100%;
	height: 134px;
	background-color: orange;
	border: 1px solid green;
}

#nav1{
	float: left;
	
	margin-right:30px;
}
#nav2
{

	background-color: F5447B;
	float: left;
    position: relative;
    top: 10px;
    width: 24%;
	height: 40px;
}
.down{
	height: 50px;
	width: 80%;
	margin: 0 auto;
}
.search{
	height: 40px;
	width: 550px;
	background-color: white;
	margin-left: 60px;
	border-radius: 5px;
}
.search input{
	width: 480px;
	height: 35px;
	border: 0px;
	padding-left: 20px;
	font-size: 15px;
	border-radius: 5px;

}
.search button{
	/*height: 35px;*/
	border: 0px;
}
.search button img{
	width: 20px;
	height: auto;
	vertical-align: middle;
}
.cart-zone
{
    width: 150px;
    height: 52px;
    background-color:#ddd;
    border: 1px solid yellow;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    top: 0px;
    right: 10px;
}
.cart-label
{
    line-height: 52px;
    position: absolute;
    top: 0px;
    left: 10px;
}
.cart-img
{
    width: 36px;
    position: absolute;
    top:10px;
    right: 10px;
    float: left;
}
.cart-amount
{
    line-height: 20px;
    width: 20px;
    height: 20px;
    top:10px;
    right: 10px;
    position: absolute;
    color:rgb(45, 87, 223);
    border-radius:50%;
    background-color:yellow;
}

#menumenu
{
	width:100%;
	height:40px;
	background-color:green;
}

#menu ul{
	margin: 0px;
	list-style: none;
	padding: 0px;
}
#menu ul li{
	float: left;
	line-height: 40px;
	font-size: 20px;
	margin-right: 30px;
}
#menu ul li a{
	display: block;
	text-decoration: none;
	color: #FFF;
	padding: 0px 40px;
	width: 100%;
}
#menu ul li a:hover{
	background-color: Red;
	
}



#menu ul ul{
	width: 200px;
	background-color: #EEE;
	display: none;
	
}
#menu li li{
	float: none;
}
#menu ul li:hover ul{
	display: block;
	

}
#menu li li a{
	color: purple;
	font-size: 12px;
}
#menu li li a:hover{
	color:white;
}


#icon
{
	float: right;
}

#logo1
{
	width: 20px;
	height: 20px;
}
#dong1
{
	margin:auto;
	padding-left: 400px;
	font-weight: 100;
	background-color:grad;
	
}

#footer
{
	width: 100%;
	height: 50px;
	background-color:black;
}
.row::after {  
	content: "";  
	clear: both;  
	display: table;
}


.price{
	color: Red;
	font-weight: bold;
	padding: 10px;
}
 .order-detail
 {
     margin:0px 0px;
     min-height:120px;  
    min-width: 560px;
 }
 .order-img{
    width: 20%;
    height: 120px;
    float: left;
 }
 .order-description
 {
     width: 40%;
     height:120px;
    float: left;
 }
 .order-price
 {
     width: 25%;
     height: 120px;
     float: left;
 }
 .order-price a {
     
 }
 .order-amount
 {
     width: 15%;
     height: 120px;
     float: left;
 }
 .order-img img
 {
     width: 100%;
     min-width: 120px;
     max-height: 120px;
 }@media only screen and (max-width:768px)
{
    .col-s1{width: 8.33%;}
    .col-s2{width: 16.66%;}
    .col-s3{width: 25.0%;}
    .col-s4{width: 33.33%;}
    .col-s5{width: 41.66%;}
    .col-s6{width: 50.0%;}
    .col-s7{width: 58.33%;}
    .col-s8{width: 66.66%;}
    .col-s9{width: 75.0%;}
    .col-s10{width: 83.33%;}
    .col-s11{width: 91.66%;}
    .col-s12{width: 100.0%;}  
    #menu
    {
        display: none;
    }  
}
/*Medium dev*/
@media only screen and (min-width:768px)
{
    .col-m1{width: 8.33%;}
    .col-m2{width: 16.66%;}
    .col-m3{width: 25.0%;}
    .col-m4{width: 33.33%;}
    .col-m5{width: 41.66%;}
    .col-m6{width: 50.0%;}
    .col-m7{width: 58.33%;}
    .col-m8{width: 66.66%;}
    .col-m9{width: 75.0%;}
    .col-m10{width: 83.33%;}
    .col-m11{width: 91.66%;}
    .col-m12{width: 100.0%;}    
    #menu
    {
        display: none;
    }
   
}
/*Lager dev*/
@media only screen and (min-width:992px)
{
    .col-1{width: 8.33%;}
    .col-2{width: 16.66%;}
    .col-3{width: 25.0%;}
    .col-4{width: 33.33%;}
    .col-5{width: 41.66%;}
    .col-6{width: 50.0%;}
    .col-7{width: 58.33%;}
    .col-8{width: 66.66%;}
    .col-9{width: 75.0%;}
    .col-10{width: 83.33%;}
    .col-11{width: 91.66%;}
    .col-12{width: 100.0%;}   
#menu{
	height: 40px;
	width: 1000px;
	background-color: green;
	margin: auto;
	position: absolute;
	left: 60px;
}	
  
   }
    #main{
	 height:2000px;
	 width:80%;
	 background-color:#FFF;
	 margin:auto;
 }
 [class*="col-"]
{
    float: left;
    padding: 15px;
}






