body
{
	background-color: grad;
	margin: 0px;
	display: block;
}
h2
{
	color: black;
	
}
#shopping
{
		width: 31px;
		height: 20px;
		font-family: FontAwesome;

}
div
{
	display:block;
}
i
{
	font-size:30px;
	color: yellow;
}
*{
	box-sizing: border-box;
}
#header
{
	width: 100%;
	height: 90px;
	background-color: F5447B;
	border: 1px solid red;
}
#nav1{
	float: left;
	padding: 0 0 0 10px;
	margin-right:30px;
}
#nav2
{

	background-color: F5447B;
	float: left;
    position: relative;
    top: 10px;
    width: 74%;
	height: 40px;
}
#search
{
	width: 223px;
	height: 35px;
	background-color: white;
	margin-left: 40px;
	margin-right: 20px;
	float:left;
	
}
#menu
{
	padding-left: 50px;
	width: 100%;
	height: 40px;
	background-color:green;
}
#menu ul{
	margin: 0px;
	list-style: none;
	padding: 0px; 
}
#menu ul li{
	float:left;
}

#menu ul li a{
	float:right;
	display: block;
	text-decoration: none;
	color: purple;
	padding: 10px 25px;
	font-size: 25px;
}
#menu ul li a:hover{
	background-color: Red;
	
}
#icon
{
	float: right;
}

#logo1
{
	width: 20px;
	height: 20px;
}
#dong1
{
	margin:auto;
	padding-left: 400px;
	font-weight: 100;
	background-color:grad;
	
}
#main1
{
	width:100%;
	height: 600px;
	background-color:pink;
	
}
#main2
{
	width:100%;
	height:1000px;
	background-color:pink;
}

#footer
{
	width: 100%;
	height: 50px;
	background-color:black;
}
.row::after {  
	content: "";  
	 clear: both;  
	 display: table;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
/*for mobile*/
@media only screen and (min-width: 600px) {
	.col-s-1{width:8.33%;}
	.col-s-2{width:16.66%;}
	.col-s-3{width:25%;}
	.col-s-4{width:33.33%;}
	.col-s-5{width:41.66%;}
	.col-s-6{width:50%;}
	.col-s-7{width:58.33%;}
	.col-s-8{width:66.66%;}
	.col-s-9{width:75%;}
	.col-s-10{width:83.33%;}
	.col-s-11{width:91.66%;}
	.col-s-12{width:100%;}
	
}
/*for medium diveces*/
@media only screen and (min-width: 768px) {
	.col-m-1{width:8.33%;}
	.col-m-2{width:16.66%;}
	.col-m-3{width:25%;}
	.col-m-4{width:33.33%;}
	.col-m-5{width:41.66%;}
	.col-m-6{width:50%;}
	.col-m-7{width:58.33%;}
	.col-m-8{width:66.66%;}
	.col-m-9{width:75%;}
	.col-m-10{width:83.33%;}
	.col-m-11{width:91.66%;}
	.col-m-12{width:100%;}

}

/*for large divices*/
@media only screen and (min-width: 992px){
	
	.col-1{width:8.33%;}
	.col-2{width:16.66%;}
	.col-3{width:25%;}
	.col-4{width:33.33%;}
	.col-5{width:41.66%;}
	.col-6{width:50%;}
	.col-7{width:58.33%;}
	.col-8{width:66.66%;}
	.col-9{width:75%;}
	.col-10{width:83.33%;}
	.col-11{width:91.66%;}
	.col-12{width:100%;}

}
.product{
	width: 233px;
	height: 335px;
	text-align: center;
	margin-left: 6px;
	margin-right: 5px;
	border: 1px solid yellow;
	border-radius: 8px;
	margin-top: 10px;
	margin-bottom: 10px;


}

.product-right{
	margin-right: 0px;
}
.product
{
	width: 100%;
	height: auto;
}

.product img{

	width: 100%;
	
	border-radius: 10px;
}
.product a{
	font-size: 16px;
	text-decoration: none;
	color: blue;
	display: block;
	padding: 10px;
}
.price{
	color: Red;
	font-weight: bold;
	padding: 10px;
}





